/* @font-face { /*custom font RobotoMono*/
/*    font-family: "RobotoMono";
    src: url("media/RobotoMono-Medium.ttf");
} */

@font-face { /*custom font Montserrat*/
    font-family: "Montserrat";
    src: url("media/Montserrat-Medium.ttf");
}

/* general */

p {
    font-family: "Montserrat";
    color: #ffffff;
    font-size: 22px;
}

h1 {
    font-family: "Montserrat";
}

h2 {
    font-family: "Montserrat";
}

h3 {
    font-family: "Montserrat";
}

h4 {
    font-family: "Montserrat";
}

h5 {
    font-family: "Montserrat";
}

h6 {
    font-family: "Montserrat";
}

header {
    opacity: 1;
}

/* background */

body {
    background-color: #303030;
    padding-left: 25px;
    opacity: 0;
    transition: opacity 0.25s;
}

/* buttons */
/* default colors should be white text */

a { 
    color: #ffffff;
    font-family: "Montserrat";
    text-decoration: none;
    font-size: 24px;
}

/* dynamic html */

/* hover effect for nav links */
#nav_link_section a:hover { text-shadow: 0 0 5px #ffffff; }  

/* rainbow hover effect for github link */
#honkyrot_github_link:hover { text-shadow: 0 0 5px #ffffff; }


/* classes */

.name_title_header {  /* header bar that contains the username and links to different pages in horizontal view*/
    background-color: #303030;
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 2%;
    z-index: 1;
}

.username_title {  /* username section */
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 20px;
    color: #ffffff;
    padding-right: 1%;
}

.single_dash_title_split {  /* just a single dash */
    float: left;
    margin-top: 10px;
    font-size: 20px;
    color: #ffffff;
    padding-right: 1%;
    
}

.title_title {  /* title section */
    float: left;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 20px;
    color: #ffffff;
}

.nav_link_section {  /* sesction for nav links */
    float: left;
    margin-right: 10px;
    margin-top: 10px;
    left: 2.6%;
    top: 112px;
    position: fixed;
    font-size: 20px;
    color: #ffffff;
}

.white_line_1_name_title_header{  /* white line splitting between the username and links below */
    background-color: #ffffff;
    height: 5px;
    width: 500px;
    position: fixed;
    top: 100px;
    left: 2%;
    z-index: 1;
}

.selected_link_1 {  /* selected link */
    color: #ffffff;
    font-weight: bold;
}

.honkyrot_github_link {  /* github link */
    background: linear-gradient(to right, #ff0000, #ffff00 , #00ff00, #00ffff, #0000ff, #ff00ff, #ff0000);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}

.python_color_text {  /* python color text */
    background: linear-gradient(to right, #ffe05e , #028dff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-decoration: none;
    font-style: normal;
}

.python_color_text:hover {  /* python text glow hover */
    text-shadow: 0 0 5px #ffe05e;
}

.lua_color_text {  /* lua color text */
    background: linear-gradient(to right, #8585c5, #01a2ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-decoration: none;
    font-style: normal;
}

.lua_color_text:hover {  /* lua text glow hover */
    text-shadow: 0 0 5px #01a2ff;
}

.javascript_color_text {  /* javascript solid color text */
    color: #f7df1e;
    text-decoration: none;
    font-style: normal;
}

.javascript_color_text:hover {  /* javascript text glow hover */
    text-shadow: 0 0 5px #f7df1e;
}

.csharp_color_text {  /* csharp solid color text */
    color: #ba1ef7;
    text-decoration: none;
    font-style: normal;
}

.csharp_color_text:hover {  /* csharp text glow hover */
    text-shadow: 0 0 5px #ba1ef7;
}

.small_text {  /* small text */
    font-size: 14px;
}

.smaller_text {  /* smaller text */
    font-size: 10px;

}

/* border block classes */

.border_block_1 {  /* shifts the body down by 100px to make room for the header */
    height: 150px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

/* animations */

@keyframes rainbow_animation {  /* rainbow text animation */
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}

@keyframes fade-in {  /* fade in animation */
    from { opacity: 0; }
    }

@keyframes fade-out {  /* fade out animation */
    to { opacity: 0; }
}