@font-face { /*custom font Montserrat*/
    font-family: "Montserrat";
    src: url("media/Montserrat-Medium.ttf");
}

/* general */

p {
    font-family: "Montserrat";
    color: #ffffff;
    font-size: 22px;
}

h1 {
    font-family: "Montserrat";
    color: #ffffff;
}

header {
    opacity: 1;
}

/* background */

body {
    background-color: #303030;
    padding: 10px;
}

.background_gradient {  /* background div gradient */
    background: linear-gradient(to bottom, #000000, #00006b);
    background-size: 400% 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -5;
    transition: background 0.15s ease-in-out;
}

/* buttons */
/* default colors should be white text */

a { 
    color: #ffffff;
    font-family: "Montserrat";
    text-decoration: none;
    font-size: 24px;
    transition: text-shadow 0.25s;
}

/* dynamic html */

/* hover effect for nav links */
#nav_link_section a:hover { text-shadow: 0 0 5px #ffffff; }  

/* rainbow hover effect for github link */
#honkyrot_github_link:hover { text-shadow: 0 0 5px #ffffff; }

/* classes */

.name_title_header {  /* header bar that contains the username and links to different pages in horizontal view*/
    height: 100px;
    width: 100%;
    /* position: fixed; */
    top: 0;
    left: 2%;
    z-index: 1;
}

.username_title {  /* username section */
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 20px;
    color: #ffffff;
    padding-right: 1%;
}

.single_dash_title_split {  /* just a single dash */
    float: left;
    margin-top: 10px;
    font-size: 20px;
    color: #ffffff;
    padding-right: 1%;
}

.title_title {  /* title section */
    float: left;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 20px;
    color: #ffffff;
    transition: opacity 0.25s;
}

.nav_link_section {  /* sesction for nav links */
    float: left;
    margin-top: 16px;
    left: calc(2% + 8px);
    top: 112px;
    /* position: fixed; */
    position: absolute;
    font-size: 20px;
    text-align: left;
}

.link_button {  /* nav link button, makes it unselectable because GOOGLE KEEPS SELECTING IT AND SHOWS THE DICTIONARY*/
    margin-right: 10px;
    margin-top: 10px;
    font-size: 24px;
    text-align: left;
    text-decoration: none;
    font-style: normal;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.moon_svg_img {  /* the moon */
    width: 120px;
    height: 120px;
    margin-top: 10px;
    margin-right: 25px;
    float: right;
    rotate: 25deg;
    z-index: -5;
    transition: opacity 0.25s;
}

.white_line_1_name_title_header{  /* white line splitting between the username and links below */
    background-color: #ffffff;
    height: 5px;
    width: 600px;
    /* position: fixed; */
    top: 100px;
    left: 2%;
    z-index: 1;
    transition: width 0.25s ease-in-out;
}

.honkyrot_github_link {  /* github link */
    background: linear-gradient(to right, #ff0000, #ffff00 , #00ff00, #00ffff, #0000ff, #ff00ff, #ff0000);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}

.python_color_text {  /* python color text */
    background: linear-gradient(to right, #ffe05e , #028dff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-decoration: none;
    font-style: normal;
    transition: text-shadow 0.25s;
}

.python_color_text:hover {  /* python text glow hover */
    text-shadow: 0 0 5px #ffe05e;
}

.lua_color_text {  /* lua color text */
    background: linear-gradient(to right, #8585c5, #01a2ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-decoration: none;
    font-style: normal;
    transition: text-shadow 0.25s;
}

.lua_color_text:hover {  /* lua text glow hover */
    text-shadow: 0 0 5px #01a2ff;
}

.javascript_color_text {  /* javascript solid color text */
    color: #f7df1e;
    text-decoration: none;
    font-style: normal;
    transition: text-shadow 0.25s;
}

.javascript_color_text:hover {  /* javascript text glow hover */
    text-shadow: 0 0 5px #f7df1e;
}

.csharp_color_text {  /* csharp solid color text */
    color: #ba1ef7;
    text-decoration: none;
    font-style: normal;
    transition: text-shadow 0.25s;
}

.csharp_color_text:hover {  /* csharp text glow hover */
    text-shadow: 0 0 5px #ba1ef7;
}

.small_text {  /* small text */
    font-size: 14px;
}

.smaller_text {  /* smaller text */
    font-size: 10px;
}

.small_text_underline {  /* small text with underline */
    font-size: 14px;
    text-decoration: underline;
}

.ajax_body_span {  /* for AJAX body */
    transition: opacity 0.25s;
}

.ajax_body {  /* for the AJAX body */
    padding: 10px;
}

.audio_player_div {  /* audio player container */
    float: left;
    bottom: 20px;
    position: fixed;
    z-index: 2;
    width: 90%;
}

.audio_player_button {
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(114deg) brightness(121%) contrast(115%);
    width: 23px;
    height: 23px;
    bottom: -15px;
    position: absolute;
    cursor: pointer;
}

.audio_player_timestamp_text_1 {  /* audio player timestamp text, current_time */
    color: #ffffff;
    font-family: "Montserrat";
    position: absolute;
    font-size: 16px;
    left: 25px;
    bottom: -14px;
}

.audio_player_timestamp_text_2 {  /* audio player timestamp text, duration*/
    color: #ffffff;
    font-family: "Montserrat";
    position: absolute;
    font-size: 16px;
    left: 270px;
    bottom: -14px;
}

.seek_slider {  /* seek slider */
    width: 200px;
    position: absolute;
    left: 60px;
    bottom: -14px;
    -webkit-appearance: none;
    appearance: none;
    background: #000000;
}

.seek_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #ffffff;
    cursor: pointer;
}

.seek_slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #ffffff;
    cursor: pointer;
}

.volume_slider {  /* volume slider */
    width: 100px;
    position: absolute;
    left: 310px;
    bottom: -14px;
    -webkit-appearance: none;
    appearance: none;
    background: #000000;
}

.volume_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #ffffff;
    cursor: pointer;
}

.volume_slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #ffffff;
    cursor: pointer;
}

.lantern_storage {  /* storage div for lanterns that are spawned */
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.lantern {  /* lantern image class, most are defined by the lantern_spawn.js*/
    position: fixed;
    top: 100%;
}

.star_storage {  /* like the lantern storage, a div for stars. */
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.portfolio_box {  /* creates a div that holds X portfolio entries, used for the portfolio page, flex*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    position: relative;
    top: 0px;
    left: 50%;
    margin-left: -45%;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.1);
}

.portfolio_entry {  /* portfolio entry, a smaller box but holds the text and link */
    width: 100%;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 10px;
    padding: 10px;
    transition: background-color 0.25s;
}

.portfolio_entry:hover {  /* portfolio entry hover, makes the background color more opaque */
    background-color: rgba(255, 255, 255, 0.2);
}

.portfolio_title {  /* portfolio title text */
    font-size: 42px;
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: bold;
    transition: text-shadow 0.25s;
}

.portfolio_title:hover {  /* portfolio title hover, makes the text glow */
    text-shadow: 0 0 5px #ffffff;
}

.portfolio_seperator { /* seperator title between collections of projects */
    width: 90%;
    height: 32px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 32px;
    left: 50%;
    margin-left: -45%;
    justify-content: center;
    display: flex;
    align-items: center;
}

.skill_box {  /* skill box, primary */
    width: 90%;
    position: relative;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 10px;
    padding: 10px;
    left: 50%;
    margin-left: -45%;
}

.skill_box_title {  /* skill box title */
    font-size: 18px;
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: bold;
    margin-top: 2px;
    transition: text-shadow 0.25s;
}

.skill_list {  /* skill list, unordered */
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
}

/* border block classes */

.border_block_1 {  /* shifts the body down by 100px to make room for the header */
    height: 40px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

/* animations */

@keyframes rainbow_animation {  /* rainbow text animation */
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}